.ax-body-clean {
    padding: 0;
    margin: 0;
}

/* Styles the lightbox, removes it from sight and adds the fade-in transition */
.ax-lightbox-target {
    position: fixed;
    top: -100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    @include transition(opacity .5s ease-in-out);
    overflow: hidden;
    z-index: 10000;
    &.show{
        opacity: 1;
        top: 0;
        bottom: 0;
        img {
            animation: ax-animate-box 0.5s ease-in-out;
        }
        .ax-lightbox-close {
            top: 0px;
        }
    }
    .ax-image-box {
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center;
        max-height: 90%;
        max-width: 90%;
        @include transition(.3s ease-in-out);
    }

    img {
        box-sizing: border-box;
        max-height: 100%;
        max-width: 100%;
        border: 3px solid white;
        box-shadow: 0px 0px 17px rgba(255, 255, 255, 0.7);
        border-radius: 3px;
    }
    /* Styles the close link, adds the slide down transition */
    .ax-lightbox-close {
        display: block;
        width: 50px;
        height: 50px;
        box-sizing: border-box;
        background: white;
        color: black;
        text-decoration: none;
        position: absolute;
        cursor: pointer;
        top: -80px;
        right: 0;
        @include transition(.3s ease-in-out);
        /* Provides part of the "X" to eliminate an image from the close link */
        &:before {
            content: "";
            display: block;
            height: 30px;
            width: 1px;
            background: black;
            position: absolute;
            left: 26px;
            top: 10px;
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
        }
        /* Provides part of the "X" to eliminate an image from the close link */
        &:after {
            content: "";
            display: block;
            height: 30px;
            width: 1px;
            background: black;
            position: absolute;
            left: 26px;
            top: 10px;
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }
    }

    .ax-info-box {
        background: rgba(0, 0, 0, 0.5);
        bottom: 0;
        left: 0;
        position: absolute;
        color: white;
        height: 28px;
        line-height: 28px;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
        z-index: 15;
        font-family: 'Volkhov',Georgia,sans-serif;
        font-size: 18px;
        font-style: italic;
        font-weight: 400;
        .ax-name-box {
            display: block;
            margin-left: 15px;
            float: left;
            width: 70%;
            border-right: 1px solid white;
            text-overflow: ellipsis;
        }
        .ax-size-box {
            display: block;
            margin-left: 15px;
            float:left;
            width: 25%;
            text-overflow: ellipsis;
        }
    }
}

@keyframes ax-animate-box {
    0% { transform: scale(0.0); opacity: 0; }
    50% { transform: scale(0.5); opacity: 0.5; }
    100% { transform: scale(1); opacity: 1; }
}